// Here you can add other styles
.editor-wrapper {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.button-add {
  border: 3px solid #cccccc;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 0;
  display: flex;
  justify-self: flex-end;
}

.header-container {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}

.row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row-center-margin {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.header-flex-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
  align-items: center;
}

.square:before {
  content: '';
  padding-top: 100%;
  display: block;
}
.side-bar {
  overflow-y: auto !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.side-bar::-webkit-scrollbar {
  display: none;
}

.sortableHelper {
  z-index: 99999 !important;
}
